html {
    background-color: lightgray;
}

h1 {
    color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px;
}

h3 {
    color: #000000;
    font-size: 1.1em;
    font-style: italic;
    margin: 5px;
}

p {
    color: #000000;
    font-size: 1.1em;
    font-weight: normal;
    font-weight: lighter;
    margin: 5px;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    place-items:center;
    background-color: beige;
    margin: 10px;
    border: #000000 2px solid;
    padding: 5px;
    min-width: fit-content;

}

.grid-container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 350px 350px;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "myHeader"
    "myAd1" 
    "myMain"
    "mySidebar"
    "myFooter";
}

.hero-container {
    display:grid;
    border: #000000 2px solid;
    grid-area: 1 / 1 / 2 / 4;
    grid-template-rows: 40px;
    margin: 10px;
    background-color: beige;
    padding: 5px;
}

.hero-container {
    grid-area: myHeader;
}

.image-container {
    margin: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    max-width: 75%;
    height: auto;
}

.image-container {
    grid-area: myAd1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.body-container {
    display: grid;
    border: #000000 2px solid;
    grid-area: 2 / 1 / 5 / 4;
    grid-template-rows: 40px;
    margin: 10px;
    background-color: beige;
    padding: 5px;
    grid-area: myMain;
}
.body-container {
    grid-area: myMain;

}

.sidebar-container {
    border: #000000 2px solid;
    grid-area: 2 / 4 / 5 / 5;
    grid-template-rows: 30px;
    margin: 10px;
    background-color: beige;
    padding: 5px;
}

.sidebar-container {
    grid-area: mySidebar;
}

.title {
    order: -1;
    grid-column: 1 / 5;
}

.header-child {
    background-color: beige;
    order:-1;
    justify-self: center;
    width: 65px;
    height: 25px;
    align-items: center;
    padding: 5px;
    font-weight: bold;
}


.header-child:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.15);
    box-shadow: 12px -9px 2px 1px rgba(0, 0, 255, .2);

}

.grid-child1 {
    display: grid;
    background-color: beige;
    padding: 5px;
    margin: 5px;
}

.grid-child2 {
    display: grid;
    background-color: beige;
    padding: 5px;
    margin: 5px;
  }

.grid-footer {
    display: flex;
    background-color: beige;
    justify-content: space-around;
    height:50px;
    margin: 10px;
    border: #000000 2px solid;
   
}
.grid-footer {
    grid-area: myFooter;
}

.footer-child {
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    opacity: 0.9;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    background-color: lightgray;

}

.image-container:hover .overlay {
    width: 110%;
    left: 0;
  }

.image_title {
    display: flex;
    font-size: 15px;
    position: absolute;
    font-weight: bold;
    color: red;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

[class*="col-"] {
   width: 100%;
}

@media only screen and (max-width: 576px) {
    /* for mobile*/

    div wrapper {
        display: none;
    }
    .image-container {
        display: none;
    }
    .image-container:hover .overlay {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr;
    }

    .hero-container {
        display: grid;
        grid-template-rows: 30px 50% 40%;
        margin: 10px;
    }

    .grid-child1 {
            grid-area: 2 / 1 / 3 / 2;
            grid-row: auto;
    }

    .grid-child2 {
            grid-area: 3 / 1 / 4 / 2;
            grid-row: auto; 
    }

    .body-container {
        display: grid;
        border: #000000 2px solid;
        grid-area: 2 / 1 / 3 / 4;
        grid-template-rows: 40px;
        margin: 10px;
        background-color: beige;
        padding: 5px;
    }

    .grid-child3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-child4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .sidebar-container {
        margin-right: 0px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    /* for tablet*/
   
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 20% 300px 1fr ;
    }

    .hero-container {
        display: grid;
        grid-area: 1 / 1 / 3 / 2;
        grid-template-rows: 40px;
        margin: 10px;
        margin-right: 10px;
    }
    .grid-child1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-child2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .body-container {
        display: grid;
        grid-area: 3 / 1 / 4 / 4;
        grid-template-rows: 40px;
        margin: 10px;
        background-color: beige;
        padding: 5px;
        margin-right: 10px;
    }
    
    .wrapper {
        display: grid;
        grid-area: 4 / 1 / 5 / 2;
    }

    .image-container {
        margin: 10px;
        position: relative;
    }

    .image-container img {
        width: 70%;
        height: 70%;
        object-fit: cover;
        display: block;
    }
    .overlay {
        position: absolute;
        bottom: 130px;
        left: 0;
        right: 100%;
        background-color: lightgrey;
        overflow: hidden;
        width: 0;
        height: 50%;
        transition: .5s ease;
    }
    
    .image-container:hover .overlay {
        width: 70%;
        left: 0;
        direction: ltr;
      }

    .grid-child3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-child4 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .sidebar-container {
        margin-right: 10px;
        grid-area: 5/ 1 / 6 / 3
    }
}

@media (min-width: 992px) {
    /* for large screens*/

  .grid-container {
        grid-template-columns: 70% 1fr;
        grid-template-rows: 20% 1fr 20%;
        grid-template-areas:
        "myHeader"
        "myMain" "mySidebar"
        "myFooter";
        }
    
    .hero-container {
        display: grid;
        border: #000000 2px solid;
        grid-template-rows: 40px;
        margin: 10px;
        background-color: beige;
        padding: 5px;
    }
    
    .body-container {
        display: grid;
        border: #000000 2px solid;
        margin: 10px;
        margin-right: 10px;
        background-color: beige;
        padding: 5px;
        grid-auto-rows: minmax(40px, auto);
    }

    .sidebar-container {
        border: #000000 2px solid;
        margin: 10px;
        margin-right: 10px;
        background-color: beige;
        padding: 5px;
        grid-area: 2 / 2 / 4 / 3;
    }
}